#html.html {
    background-color:gray;
}
#html {
    background-color: black;
}
.html
{
    background-color: red !important;
}
li
{
    background-color: blue;
}
.html
{
    background-color: yellow !important;
}
li
{
    background-color: green;
}
li
{
    background-color:blue !important;
}
