ul{
     background-color: brown ;
     position: relative;

}

.html{
    position:relative;
    top: 10px;
    left: 10px;
   /* bottom: 100px;
    right: 100px;*/

    inset: 20px;
    position: unset;
}

.css{
    background-color: aqua;
    position: absolute;
    top: 10px;
    left: 10px;
    inset: 20px;
    position: inherit;
    position: unset;

}
.js{
    background-color: blueviolet;
    position: fixed;
   / top: 30px;
    left: 30px;
}
